.button-xsmall {
  font-size: 70%;

}
.button-small {
  font-size: 85%;

}
.button-large {
  font-size: 110%;

}
.button-xlarge {
  font-size: 125%;
}

.button-expanded {
  width: 100%;
  padding:1rem 0;
  margin:3px;
}
