.hlist {
  list-style: none;
  @extend %text-center;
  @include box-reset();
  padding: 0 0 2em 0;
  >li {
    display: inline-block;
    margin-left: 1em;
    a.tweet {
      position:relative;
      top:-3px;
    }
  }
}
