<div class="notes">
    <form ng-submit="notesCtrl.addNote(notesCtrl.newNote)" novalidate name="addForm">
        <div class="" ng-class="{'has-error': addForm.newNote.$invalid && !addForm.newNote.$pristine}">
            <input type="text" ng-model="notesCtrl.newNote" name="newNote" class="" required autofocus
                   placeholder="Write a new note and press enter :)" maxlength="100">
        </div>
    </form>
    <form ng-repeat="note in notesCtrl.notes" class="" novalidate ng-submit="notesCtrl.updateNote(note)">
           <input type="text" class="" ng-model="note.note"/>
        <i class="fa fa-home" ng-click="notesCtrl.deleteNote($index, note.id)"></i>
    </form>
</div>
