<div class="panel text-center">
    <h3>
        <code>A simple demo application, tied to your real backend.</code>
    </h3>
</div>
<div class="notes">
    <form ng-submit="notesCtrl.addNote(notesCtrl.newNote)" novalidate name="addForm">
        <div class="row">
            <div class="large-12 columns">
                <small class="error" ng-show="addForm.newNote.$invalid && !addForm.newNote.$pristine">Please fill and submit the form for woking example</small>
                <input type="text" ng-model="notesCtrl.newNote" name="newNote" required placeholder="Write a new note and hit enter..." maxlength="100" class="noteInput">
            </div>
        </div>
    </form>
    <form ng-repeat="note in notesCtrl.notes" class="" novalidate ng-submit="notesCtrl.updateNote(note)">
        <div class="row">
            <div class="large-8 columns large-centered">
                <div class="row collapse">
                    <div class="small-11 columns">
                        <input type="text" class="" ng-model="note.note">
                    </div>
                    <div class="small-1 columns">
                        <a ng-click="notesCtrl.deleteNote($index, note.id)" class="button postfix"><i class="fa fa-minus-circle" ></i></a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
