# general
.idea
.DS_Store
*~
.sass-cache

# package control
node_modules
webapp/vendor

# logs
npm-debug.log

# build artifacts
bin

# os artifacts
.DS_Store

# build
build/tmp
build/dist

#backend
backend/**/vendor

