<!doctype html>
<html lang="en" ng-controller="AppCtrl">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title ng-bind="title"></title>
    <link rel="icon" href="assets/favicon.ico" />
    <% css.forEach( function ( file ) { %>
    	<link rel="stylesheet" type="text/css" href="<%= file %>" />
    <% }); %>
    </head>
<body >

<header class="row">
<div class="large-4 columns">
  <h1 class="title">ng-kickstart</h1>
  <span app-version></span>
</div>
<div class="large-8 columns">
  <dl class="sub-nav right">
    <dd ng-class="{ active: isActive('/')}"><a href="/">
            <i class="fa fa-home"></i> <span>Home</span>
        </a></dd>
        <dd ng-class="{ active: isActive('/docs')}"><a ng-class="{ active: isActive('/docs')}" href="/docs">
            <i class="fa fa-book"></i> <span>Docs</span>
        </a></dd>
    <dd ng-class="{ active: isActive('/notes')}"><a ng-class="{ active: isActive('/notes')}" href="/notes">
            <i class="fa fa-pencil"></i> <span>Notes example</span>
        </a></dd>
  </dl>
</div>
</header>

<div class="row">
	<div class="large-12 columns" ng-view></div>
</div>
<footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-6 columns">
          <p>&copy; 2013
                <a href="http://alessandro.arnodo.net">Alessandro Arnodo.</a>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
                <li><a target="_blank" href="http://twitter.com/vesparny"><i class="fa fa-twitter"></i></a></li>
                <li><a target="_blank" href="https://plus.google.com/+AlessandroArnodo"><i class="fa fa-google-plus"></i></a></li>
                <li><a target="_blank" href="http://www.linkedin.com/in/alessandroarnodo"><i
                        class="fa fa-linkedin"></i></a>
                </li>
                <li><a target="_blank" href="https://github.com/vesparny/ng-kickstart"><i
                        class="fa fa-github"></i></a></li>

          </ul>
        </div>
      </div>
    </div>
  </footer>
	<script type="text/javascript" src="https://apis.google.com/js/plusone.js">
      { "parsetags": "explicit" }
    </script>
<% js.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script>
<% }); %>
</body>
</html>
