<!doctype html>
<html lang="en" ng-controller="AppCtrl">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title ng-bind="title"></title>
    <link rel="icon" href="assets/favicon.ico" />
    <% css.forEach( function ( file ) { %>
    	<link rel="stylesheet" type="text/css" href="<%= file %>" />
    <% }); %>
    </head>
<body >
<div class="container menu">
    <div class="btn-group btn-group-justified">
        <a  ng-class="{ active: isActive('/home')}" href="/home" class="btn btn-primary btn-lg">
            <i class="icon-home"></i> <span>Home</span>
        </a>
        <a ng-class="{ active: isActive('/notes')}" href="/notes" class="btn btn-primary btn-lg">
            <i class="icon-pencil"></i> <span>Notes example</span>
        </a>
    </div>
</div>
<div class="container panel" ng-view></div>
<footer class="footer">
    <div class="container">
        <div class="footer-inner">
            <ul class="social">
                <li><a target="_blank" href="http://gplus.to/vesparny"><i class="icon-google-plus-sign"></i></a></li>
                <li><a target="_blank" href="http://twitter.com/vesparny"><i class="icon-twitter-sign"></i></a></li>
                <li><a target="_blank" href="http://www.linkedin.com/in/alessandroarnodo"><i
                        class="icon-linkedin-sign"></i></a>
                </li>
                <li><a target="_blank" href="https://github.com/vesparny/angularjs-silex-single-page-app"><i
                        class="icon-github-sign"></i></a></li>
            </ul>
            <p>
                (c) 2013 Alessandro Arnodo.
                <a href="http://github.com/veaparny/silex-angularjs">Fork this</a>
                <br>
                based on
                <a href="http://www.angularjs.org">AngularJS</a>,
                <a href="http://bootswatch.com">Bootswatch</a> and
                <a href="http://silex.sensiolabs.org">Silex php microframework</a>
            </p>
        </div>
    </div>
</footer>
<% js.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script>
<% }); %>
</body>
</html>
