@import "app/foundation-custom-vars";
@import "../../vendor/foundation/scss/foundation";
@import "../../vendor/font-awesome/scss/font-awesome";


.jumbotron {
    margin: 40px 0 80px 0;
}

h1 {
    margin-bottom: 20px;
    font-size: 55px;
    line-height: 1;
}

.menu {
    margin-top: 10px
}

.lead {
    font-size: 24px;
    line-height: 1.25;
}

.footer {
    margin-top: 80px;
}

.footer-inner {
    padding: 40px 0;
    border-top: 1px solid #DDD;
}

.panel.ng-enter {
    -webkit-transition: .5s linear all; /* Safari/Chrome */
    -moz-transition: .5s linear all; /* Firefox */
    -o-transition: .5s linear all; /* Opera */
    transition: .5s linear all; /* IE10+ and Future Browsers */
transition-delay: .5s;
    opacity: 0;
}

.panel.ng-enter.ng-enter-active {
    opacity: 1;
}

.center{
    text-align:center
}

.addNote{
    margin-top: 20px;
    padding: 35px;
    font-size: 30px;
}

.notes i {
    cursor:pointer;
    vertical-align:middle;
}

.notes .nList .form-group {
    width:60%;
}

.notes .nList {
		text-align:center;
    margin: 0 auto;
}




.inline-list > li {
	display: inline-block;
	float:none;
}

.vcenter {
	display: table;
}

.vcenter div{
	display: table-cell;
  vertical-align: middle;
}

@mixin font-size($size) {
  font-size: $size;
}

header.row {
	margin-top:30px;
	margin-bottom: 50px;
}
header .title {
	@include font-size(40px);
	font-weight:bold;
	display:inline;
}

header .sub-nav dd {
	@include font-size(20px);
}

img {
	max-width: 60%;
	margin: 15px;
}

.social i {
	@include font-size(30px);
}

.me {
	margin-top:10px
}
